<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="assets/fontawesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/login.css">
</head>
<body>
 <div class="container">
 	<div class="header">
 		<h1><b>login</b></h1>
 	</div>
 	<div class="main">
 		<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

	<div class="row" *ngIf="authError">
           	 	<div class="col-12 alert alert-danger">{{ authError?.message }}</div>
           	</div>

 			<span>
 				<i class="fa fa-user"></i>
 				<input  ngModel #email="ngModel" id="email" placeholder="Email" name="email" type="email">
 			</span><br>
 			<span>
 				<i class="fa fa-lock"></i>
 				<input  ngModel #password="ngModel" id="password"  placeholder="Password" name="password" type="password">
 			</span><br>
       <a  style=" text-align:center; display:block;" href="/register">Click here to register</a><br>

 				<button type="submit">login</button>

         

 		</form>
 	</div>
 </div>
</body>
</html>